<% provide(:title, "Đăng nhập") %>

<div class="row">
  <div class="col-3"></div>
  <div class="col-6 row my_container form_tao-nhap box_shadow">
    <div class="col-5">
      <center> 
        <h3> Welcome </h3>
        <hr>
        <br>
        <%= render 'sessions/welcome' %>
      </center>
    </div>

    <hr class="vertical">

    <div class="col-6">
      <center><h4>Đăng nhập</h4></center>
      <hr>
      <%= form_with(url: login_path, scope: :session, local: true) do |form| %>
        <div class="row item_dangnhap">
          <div class="col-3">
            <%= form.label :email, "Email"%>
          </div>
          <div class="col-9">
            <%= form.text_field :email %>
          </div>
          <div class="col-3">
            <%= form.label :password, "Mật khẩu" %>
          </div>
          <div class="col-9">
            <%= form.text_field :password %>
          </div>
          <div class="col-7"></div>
          <div class="col-5">
            <%= form.submit "Đăng nhập", class:"nut_dangnhap" %> 
          </div>
        </div>
        <hr class="hr">
        <div class="nut_taotaikhoan"> <%= link_to "Tạo tài khoản", signup_path, class:"change_edit_pf" %> </div>
      <% end %>
    </div>
  </div>

  <div class="col-3"></div>
</div>
  