<% provide(:title, "Đăng nhập") %>

<div class="row container_login">
  <div class="col-3"></div>
  <div class="col-6 row my_container form_tao-nhap box_shadow">
    <div class="col-5">
        <%= render 'sessions/welcome' %>
    </div>

    <hr class="vertical">

    <div class="col-6">
      <center><h4 class="title_login">Đăng nhập</h4></center>
      <hr>
      <%= form_with(url: login_path, scope: :session, local: true) do |form| %>
        <div class="row item_dangnhap">
          <div class="inputbox">
            <%= form.text_field :email, required: true %>
            <span>Email</span>
            <i></i>
          </div>
          <div class="inputbox">
            <%= form.password_field :password, required: true %>
            <span>Mật khẩu</span>
            <i></i>
          </div>
          <div class="col-7"></div>
          <div class="col-5">
            <%= form.submit "Đăng nhập", class:"nut_dangnhap" %> 
          </div>
        </div>
        <hr class="hr">
        <div class="nut_taotaikhoan"> <%= link_to "Tạo tài khoản", signup_path, class:"change_edit_pf" %> </div>
      <% end %>
    </div>
  </div>

  <div class="col-3"></div>
</div>
  