<% provide(:title, "Dang nhap") %>

<div class="row">
  <div class="col-3"></div>
  <div class="col-6 row my_container">
    <div class="col-6">Welcome</div>

    <div class="col-6">
      <h1>Dang nhap</h1>
      <%= form_with(url: login_path, scope: :session, local: true) do |form| %>
          <ul>
            <li> Email <%= form.text_field :email %> </li>
        
            <li> Mat khau <%= form.text_field :password %> </li>
          </ul>
          <p class=""> <%= form.submit "Dang nhap"%> </p>
          <hr class="hr">
          <p class=""> <%= link_to "Tao tai khoan", signup_path %> </p>
      <% end %>
    </div>
  </div>

  <div class="col-3"></div>
</div>
  