<% provide(:title, "Chỉnh sửa Flashcard") %>
<% if logged_in? %>
  <div class="row">
      <div class="col-3"></div>

      <div class="col-3 fix_div_forum">
          <%= render 'flashcards/list_flashcard' %>
      </div>

      <div class="col-1"></div>

      <div class="col-4">
        <div class="row my_container container_create_flashcard box_shadow">
          <div class="col-2"></div>
          <div class="col-8">
            <center><h4 class="title_login">Chỉnh sửa flashcard</h4></center>
            <%= form_with(model: @flashcard, local: true) do |form| %>
              <div class="row item_new_flashcard">
                <div class="col-4">
                  <%= form.label :title %>
                </div>
                <div class="col-8">
                  <%= form.text_field :title%>
                </div>
                <div class="col-4">
                  <%= form.label :kanji %>
                </div>
                <div class="col-8">
                  <%= form.text_field :kanji %>
                </div>
                <div class="col-4">
                  <%= form.label :hiragana %>
                </div>
                <div class="col-8">
                  <%= form.text_field :hiragana %>
                </div>
                <div class="col-4">
                  <%= form.label :meaning %>
                </div>
                <div class="col-8">
                  <%= form.text_field :meaning %>
                </div>
      
                <div class="col-4">
                  <%= form.label :romaji, "Ghi chú" %>
                </div>
                <div class="col-8">
                  <%= form.text_field :romaji %>
                </div>
      
                <div class="col-6">
                  <%= link_to "Thoát", flashcards_path, class:"out_edit-create_flashcard" %>
                </div>
                <div class="col-6">
                  <%= form.submit "Tạo", class:"button_create-edit" %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-2"></div>
        </div>
      </div>

      <div class="col-3">
          <%= render 'flashcards/list_menu_right' %>
      </div>

      <div class="col-1"></div>
  </div>
<% else %>
    <%= render 'shared/not_logged' %>
<% end %>