<% provide(:title, "Hoi-dap") %>
<% if logged_in? %>
<div class="row">
    <div class="col-4"></div>

    <div class="col-3 fix_div_forum">
        <%= render 'forum/list_menu_forum' %>
    </div>

    <div class="col-4">
        <div class="my_container">
            <%= render 'snapshots/snapshot_form' %>
        </div>
        
        <br>

        <div>
            <%= render 'snapshots/feed' %>
        </div>
    </div>


    <div class="col-3">
        <%= render 'users/follow/list_follow_back' %>
    </div>
</div>

<% else %>
    <%= render 'shared/not_logged' %>
<% end %>