<div class="info_user my_container box_shadow">
    <div class="name_user">
        <div class="menu_click", onclick="showDiv()">
            <%= image_tag @user.avatar, class:"avatar_pf" if @user.avatar.attached? %>
        </div>

        
        <% if current_user?(@user) %>
            <%= render 'users/avatar' %>
        <% end %>
        <%= link_to @user.name, user_path(@user), class:"color_normal"  %>
        <%= render 'users/follow/follow_form' if logged_in? %>
        <%= render 'users/follow/stats' %>
    </div>
    
    <div class="detail">
        <hr>
        <li><b>Giới thiệu</b></li>
        <center>Hello, I am the admin of the website!</center>
        <li class="list_friend"> 
            <i class="fa-solid fa-user-group" style="color: #454545;"></i> 
            <b>Bạn bè</b> 
            <% if @friends.any? %>
                <%= render "users/follow/friend" %>
            <% else %>
                <p>Bạn chưa có bạn bè.</p>
            <% end %>
        </li>
        
        <p> 
            <i class="fa-solid fa-pen-to-square" style="color: #454545;"></i> 
            <b>Số bài đăng:</b> <%= @user.snapshots.count %>
        </p>

        <% if current_user.admin? or current_user?(@user) %>
            <p> 
                <i class="fa-solid fa-envelope" style="color: #454545;"></i> 
                <b>Email:</b> <%= @user.email %> 
            </p>
        <% end %>
        
        <div class="padding_chinh_sua">
            <% if current_user?(@user) %>
                <div> <%= link_to "Chỉnh sửa thông tin", edit_user_path(current_user), class:"edit_pf" %> </div>
            <% end %>
            
            <% if current_user.admin? %>
                <%= link_to " Quản lí người dùng", users_path, class:"quan_li_pf" %>
                <% unless current_user?(@user) %>
                    <%= button_to "Xóa tài khoản", @user, method: :delete, class:"delete_users" %>                <% end %>
            <% end %>
        </div>
        <br>
    </div>
</div>