<%= will_paginate @users %>
<h1>Users</h1>
<p> <%= link_to "Home", root_path %> </p>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
      <%= link_to "Show this user", user %>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
<%= will_paginate @users %>