<% provide(:title, "Dang ki") %>
<div class="row">
  <div class="col-3"></div>
  <div class="col-6 form-login row">
    <div class="col-6 signup">
      <h1>Tao tai khoan</h1>
      <%= form_with(model: @user, local: true) do |form| %>
        <%= render 'shared/error_messages' %>
        <ul>
          <li> Ten <%= form.text_field :name %> </li>

          <li> Email <%= form.text_field :email %> </li>

          <li> Mat khau<%= form.text_field :password %> </li>

          <li> Nhap lai mat khau<%= form.text_field :password_confirmation %> </li>
          
          <p class="bt-DangNhap"> <%= form.submit "Tao tai khoan" %> </p>
          <hr class="hr">
          <p class="bt-TaoTaiKhoan"> <%= link_to "dang nhap", login_path %> </p>
        </ul>
      <% end %>
    </div>
    <div class="col-6 welcome">Welcome</div>
  <div>

  <div class="col-3"></div>
</div>
