<% provide(:title, "Dang ki") %>

<div class="row">
  <div class="col-3"></div>
  <div class="col-6 row box-user">
    <div class="col-6">
      <h1>Tao tai khoan</h1>
      <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <ul>
          <li> Ten <%= f.text_field :name %> </li>

          <li> Email <%= f.text_field :email %> </li>

          <li> Mat khau<%= f.text_field :password %> </li>

          <li> Nhap lai mat khau<%= f.text_field :password_confirmation %> </li>
          
          <p class=""> <%= f.submit "Tao tai khoan" %> </p>
          <hr class="hr">
          <p class=""> <%= link_to "dang nhap", login_path %> </p>
        </ul>
      <% end %>
    </div>
    <div class="col-6">Welcome</div>
  </div>

  <div class="col-3"></div>
</div>
