<% provide(:title, "Tạo tài khoản") %>

<div class="row container_login">
  <div class="col-3"></div>
  <div class="col-6 row my_container box_shadow">
    <div class="col-6">
      <center><h4 class="title_login">Tạo tài khoản</h4></center>
      <hr>
      <%= form_with(model: @user, local: true) do |form| %>
        <%= render 'shared/error_messages', object: form.object %>
        <div class="row item_tao_user">
          <div class="inputbox">
            <%= form.text_field :name, required: true %>
            <span>Tên</span>
            <i></i>
          </div>
          <div class="inputbox">
            <%= form.text_field :email, required: true %>
            <span>Email</span>
            <i></i>
          </div>
          <div class="inputbox">
            <%= form.text_field :password, required: true %>
            <span>Mật khẩu</span>
            <i></i>
          </div>
          <div class="inputbox">
            <%= form.text_field :password_confirmation, required: true %>
            <span>Nhập lại mật khẩu</span>
            <i></i>
          </div>
          
          <div class="col-7"></div>
          <div class="col-5">
            <%= form.submit "Tạo tài khoản", class:"nut_dangnhap" %>
          </div>
        </div>
        <hr class="hr">
        <div class="nut_taotaikhoan"> <%= link_to "Tạo tài khoản", login_path, class:"change_edit_pf" %> </div>
      <% end %>
    </div>

    <hr class="vertical">
    
    <div class="col-5">
        <%= render 'sessions/welcome' %>
    </div>
  </div>

  <div class="col-3"></div>
</div>
