<% provide(:title, "Tạo tài khoản") %>

<div class="row">
  <div class="col-3"></div>
  <div class="col-6 row my_container">
    <div class="col-6">
      <center><h4>Tạo tài khoản</h4></center>
      <hr>
      <%= form_with(model: @user, local: true) do |form| %>
        <%= render 'shared/error_messages', object: form.object %>
        <div class="row item_tao_user">
          <div class="col-5">
            <%= form.label :name, "Tên"%>
          </div>
          <div class="col-7">
            <%= form.text_field :name %>
          </div>
          <div class="col-5">
            <%= form.label :email %>
          </div>
          <div class="col-7">
            <%= form.text_field :email %>
          </div>
          <div class="col-5">
            <%= form.label :password, "Mật khẩu" %>
          </div>
          <div class="col-7">
            <%= form.text_field :password %>
          </div>
          <div class="col-5">
            <%= form.label :password_confirmation, "Nhâp lại mật khẩu" %>
          </div>
          <div class="col-7">
            <%= form.text_field :password_confirmation %>
          </div>
          
          <div class="col-7"></div>
          <div class="col-5">
            <%= form.submit "Tạo tài khoản", class:"nut_dangnhap" %>
          </div>
        </div>
        <hr class="hr">
        <div class="nut_taotaikhoan"> <%= link_to "Đăng nhập", login_path %> </div>
      <% end %>
    </div>

    <hr class="vertical">
    
    <div class="col-5">
      <center> <h3> Welcome </h3> </center>
    </div>
  </div>

  <div class="col-3"></div>
</div>
