<div class="row">
  <div class="col-3"></div>
  <div class="col-4 fixed_div_infor_user">
    <%= render 'users/user_infor' %>
  </div>

  
  <div class="col-1">
  </div>

  <div class="col-4">
    <div class="my_container">
      <%= render 'snapshots/snapshot_form' %>
    </div>
    <br>
    <div>
      <% if @user.snapshots.any? %>
        <%= render @snapshots %>
      <% else %>
        <div class="my_container snapshot_none">
          <center> Bạn chưa có bài đăng nào ... </center>
        </div>
      <% end %>
    </div>
  </div>

  
  <div class="col-3">
    <div class="my_container ">
      <h5>
        <center>
          <i class="fa-solid fa-bookmark" style="color: #2e2e2e;"></i> 
          <b>Đã lưu</b>
        </center>
      </h5>
      <hr>

      <%= render 'snapshots/user_save/snapshots' %>
      <%= render 'flashcard/user_save/flashcard' %>
    </div>
  </div>

  <div class="col-1"></div>
</div>