<div class="row">
<div class="col-2"></div>
  <div class="col-5">
    <%= avatar @user%>
    <p> Ten <%= @user.name %> </p>
    <p> Email <%= @user.email %> </p>
    <%= button_to "Destroy this user", @user, method: :delete, data: { confirm: "chac chan xoa?" } %>
  </div>
  <div class="col-4">Gioi thieu
  <% if current_user.admin? %>
    <%= link_to "Users", users_path %>   
  <% end %>
  </div>
  <div class="col-1"></div>
</div>
