<div>
    <%= form_with(model: @snapshot, local: true) do |f| %>
        <%= avatar @user %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.text_area :content, placeholder: "Create a new snapshot ..." %>
        <%= f.file_field :image, accept: "image/jpeg, image/gif, image/png" %>
        <%= f.submit "Đăng"%>
    <% end %>
</div>

