<div class="bang_chu_cai">
    <h5><b>Hiragana</b></h5>
    <div class="row">
        <div class="col-4">
            <%= image_tag("bang_chu_cai/hira1.png") %>
        </div>
        <div class="col-4">
            <%= image_tag("bang_chu_cai/hira2.png") %>
        </div>
        <div class="col-4">
            <%= image_tag("bang_chu_cai/hira3.png") %>
        </div>
    </div>
    <h5><b>Katakana</b></h5>
    <div class="row">
        <div class="col-4">
            <%= image_tag("bang_chu_cai/kata1.png") %>
        </div>
        <div class="col-4">
            <%= image_tag("bang_chu_cai/kata2.png") %>
        </div>
        <div class="col-4">
            <%= image_tag("bang_chu_cai/kata3.png") %>
        </div>
    </div>
</div>