<div id="snapshot-<%= snapshot.id %>" class="snapshot_profile">
    <%= link_to snapshot.user, class: "avt_pf" do %>
        <%= avatar(snapshot.user, size: 10) %>
    <% end %>
    <%= @user.name %>
    <small> Đăng lúc: <%= time_ago_in_words(snapshot.created_at) %> </small>

    <p class="content"><%= snapshot.content %></p>
    <div> <%= image_tag snapshot.image if snapshot.image.attached? %> </div>
    <div>
        <% if current_user?(snapshot.user) %>
            <%= button_to "delete", snapshot, method: :delete, data: { confirm: "xoa" } %>
        <% end %>
    </div>
</div>
<br>