<div id="snapshot-<%= snapshot.id %>" class="my_container">
    <div class="row">
        <div class="col-2">
            <%= link_to snapshot.user do %>
                <div class="avatar_wrapper">
                    <%= image_tag @user.avatar if @user.avatar.attached? %>
                </div>
            <% end %>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-10">
                    <%= @user.name %>
                </div>

                <div class="col-2 menu"> 
                    <i class="fa-solid fa-ellipsis" style="color: #000000;"></i>
                    <ul class="hide delete_snapshot_pf box_shadow">
                        <% if current_user?(snapshot.user) or current_user.admin? %>
                            <li><i class="fa-solid fa-trash"></i> <%= link_to " Xóa", snapshot, method: :delete, style:"color: #000000; background: none;" %><li>
                            <li><i class="fa-solid fa-copy fa-lg"></i> Sao chép liên kết</li>
                        <% end %>
                    </ul>
                </div>

                <div class="col-12">
                    <small><i class="fa-solid fa-clock" style="color: #404040;"></i>  <%= time_ago_in_words(snapshot.created_at) %> </small>
                </div>
            </div>
        </div>

        <div class="col-12 snapshot_padding">
            <p class="content_snapshot"><%= snapshot.content %></p>
            <div class = "img_snapshot"> 
                <%= image_tag snapshot.image if snapshot.image.attached? %>
            </div>
        </div>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-4">
            <%= render 'snapshots/like_form' if logged_in? %>
        </div>
        <div class="col-5">
            <i class="fa-solid fa-comment" style="color: #4a4a4a;"></i> Bình luận(<%= snapshot.comments.count %>)
        </div>
        <div class="col-3">
            <i class="fa-solid fa-share" style="color: #2b2b2b;"></i> Chia sẻ(0)
        </div>
    </div>

    <hr>
    
    <div class="row container_comment">
        <span class="col-12 text_cmt">Bình luận</span>
        <% snapshot.comments.each do |comment| %>
            <div class="col-1 fix_padding_col_cmt">
                <%= link_to comment.user do %>
                    <%= image_tag comment.user.avatar, class:"avt_comment" if comment.user.avatar.attached? %>
                <% end %>
            </div>
            <div class="col-9 fix_padding_col_cmt">
                <div class="content_comment">
                    <li><strong><%= comment.user.name %></strong></li>
                    <%= comment.content %>
                </div>
            </div>
            <div class="col-2">
                <div class="menu_comment" onclick="show_div_click('delete_comment')">
                    <ul><i class="fa-solid fa-ellipsis" style="color: #000000;"></i></ul>
                    <div class="delete_comment">
                        <%= link_to "Delete", snapshot_comment_path(snapshot, comment), method: :delete, data: { confirm: "Xóa bình luận?" } %>
                        <a>Thoát</a>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-2">
            <div class="avatar_wrapper">
                <%= image_tag current_user.avatar if current_user.avatar.attached? %>
            </div>
        </div>
        <div class="col-10">
            <div class="form_comment">
                <%= form_with(model: [snapshot, Comment.new], url: snapshot_comments_path(snapshot)) do |form| %>
                    <div class="row">
                        <div class="col-12">
                            <%= form.text_area :content %>
                        </div>
                        <div class="col-8"></div>
                        <div class="col-4">
                            <span class="fix_btn_post_snapshot"><%= form.submit 'Bình luận', class:"post_snapshot fix_btn_comment" %></span>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>


</div>

<br>