<div class="header">
    <div class="row">
        <div class="col-4 color_logo">logo</div>
        <div class="col-5 padding_header">
            <div class="row">
                <a href="/" class="col-4 color_header"><i class="fa-solid fa-house fa-xl" style="color: #ffffff;"></i> Trang Chu</a>
                <a href="/help" class="col-4 color_header"><i class="fa-solid fa-comments fa-xl" style="color: #ffffff;"></i> Hoi & dap</a>
                <a href="/formula" class="col-4 color_header"><i class="fa-solid fa-book fa-xl" style="color: #ffffff;"></i> Cong thuc</a>
            </div>
        </div>

        <div class="col-3">
            <ul>
                <% if logged_in?  %>
                    <div class="avatar_web menu">
                        <i class="fa-solid fa-comment fa-xl" style="color: #ffffff;"></i>
                        <i class="fa-solid fa-bell fa-xl" style="color: #ffffff;"></i>
                        <%= link_to current_user do %>
                            <%= image_tag @user.avatar if @user.avatar.attached? %>
                        <% end %>
                        <div class="menu_pf hide">
                            <li> <%= image_tag @user.avatar if @user.avatar.attached? %> <%= link_to current_user.name, current_user, class: "color_header"%> <hr></li>
                            <li> <%= link_to "Setings", edit_user_path(current_user), class: "color_header" %> </li>
                            <li> <%= link_to "Log out", logout_path, method: :delete, class: "color_header" %> </li>
                        </div>
                    </div>
                <% else %>
                    <a href="/login" class="color_header"> Dang nhap </a>
                <% end %>
            </ul>
        </div>
    </div>
</div>
