<div class="header">
    <div class="row">
        <div class="col-4">
            <%= image_tag("logo_web/logo.png", class:"logo_web") %>
        </div>
        <div class="col-4">
            <div class="row">
                <a href="/" class="col-4 color_header <%= request.path == root_path ? 'active_header' : '' %>">
                    <i class="fa-solid fa-house fa-xl "></i> 
                    <span>Trang chủ</span>
                </a>
                <a href="/help" class="col-4 color_header <%= request.path == '/help' ? 'active_header' : '' %>">
                    <i class="fa-solid fa-comments fa-xl"></i> 
                    <span>Hỏi & đáp</span>
                </a>
                <a href="/flashcards" class="col-4 color_header <%= request.path == '/flashcards' ? 'active_header' : '' %>">
                    <i class="fa-solid fa-book fa-xl"></i> 
                    <span>Flashcard</span>
                </a>
            </div>
        </div>

        <div class="col-3">
            <% if logged_in?  %>
                <div class="menu avatar_web">
                    <i class="fa-solid fa-comment fa-xl" style="color: #ffffff;"></i>
                    <i class="fa-solid fa-bell fa-xl" style="color: #ffffff;"></i>
                    <%= link_to current_user do %>
                        <%= image_tag current_user.avatar, class:"avt_header" if current_user.avatar.attached? %>
                    <% end %>

                    <div class="menu_pf hide">
                        <%= link_to current_user do %> 
                            <div class="menu_color_header">
                                <%= image_tag current_user.avatar, class:"avt_header_link_pf" if current_user.avatar.attached? %> 
                                <%= content_tag :span, current_user.name, class: "name_header_link_pf" %>
                            </div>
                        <% end %>
                        <hr>

                        <%= link_to edit_user_path(current_user) do %> 
                            <div class="menu_color_header">
                                <i class="fa-solid fa-gears" style="color: #ffffff;"></i> 
                                Chỉnh sửa thông tin
                            </div>
                        <% end %>
                        <% if current_user.admin? %>
                            <%= link_to users_path do %> 
                                <div class="menu_color_header">
                                    <i class="fa-solid fa-layer-group" style="color: #ffffff;"></i> 
                                    Quản lí người dùng
                                </div>
                            <% end %>                        
                        <% end %>
                        <%= link_to logout_path do %> 
                            <div class="menu_color_header">
                                <i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i> 
                                Đăng xuất
                            </div>
                        <% end %>
                    </div>
                </div>
            <% else %>
                <div class="color_header_login" > 
                    <a href="/login" class="color_header <%= request.path == '/login' ? 'active_header' : '' %>"> 
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <span> Đăng nhập </span>
                    </a>
                </div>
            <% end %>
        </div>
        <div class="col-1"></div>

    </div>
</div>