<div class="header">
    <div class="row">
        <div class="col-4">
            <%= image_tag("logo_web/logo.png", class:"logo_web") %>
        </div>
        <div class="col-4">
            <div class="row">
                <a href="/" class="col-4 color_header">
                    <i class="fa-solid fa-house fa-xl" style="color: #ffffff;"></i> 
                    Trang chủ
                </a>
                <a href="/help" class="col-4 color_header">
                    <i class="fa-solid fa-comments fa-xl" style="color: #ffffff;"></i> 
                    Hỏi & đáp
                </a>
                <a href="/flashcard" class="col-4 color_header">
                    <i class="fa-solid fa-book fa-xl" style="color: #ffffff;"></i> 
                    Flashcard
                </a>
            </div>
        </div>


        <div class="col-3">
            <ul>
                <% if logged_in?  %>
                    <div class="avatar_web menu">
                        <i class="fa-solid fa-comment fa-xl" style="color: #ffffff;"></i>
                        <i class="fa-solid fa-bell fa-xl" style="color: #ffffff;"></i>
                        <%= link_to current_user do %>
                            <%= image_tag current_user.avatar, class:"avt_header" if current_user.avatar.attached? %>
                        <% end %>
                        <div class="menu_pf hide">
                            <li> <%= image_tag current_user.avatar, class:"avt_header" if current_user.avatar.attached? %> <%= link_to current_user.name, current_user, class: "color_header"%></li>
                            <hr>
                            <li> <i class="fa-solid fa-gears" style="color: #ffffff;"></i> <%= link_to "Chỉnh sửa thông tin", edit_user_path(current_user), class: "color_header" %> </li>
                            <li> <i class="fa-solid fa-layer-group" style="color: #ffffff;"></i> <%= link_to "Quản lí người dùng", users_path, class: "color_header" %> </li>
                            <li> <i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i> <%= link_to "Đăng xuất", logout_path, method: :delete, class: "color_header" %> </li>
                        </div>
                    </div>
                <% else %>
                    <div class="dang_nhap_header"> <a href="/login" class="color_header"> Đăng nhập </a> </div>
                <% end %>
            </ul>
        </div>

        <div class="col-1"></div>

    </div>
</div>
